<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>drop&dip</title>
    <link rel="icon" href="dropdip.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="main.ctrl.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">
 <div class="container">
    <h1><img src="dropdip.png" height="60px" widith="60px"></img>{{main.title}}</h1>
    <form name="main.addForm" class="form" ng-submit="main.addNote()">
        <div class="form-group">
            <label>Note:</label>
            <input  rows="3" type="text" class="form-control" ng-model="main.newNote.content" required placeholder="drop and hit enter..." />
        </div>
    </form>
    <div class="alert alert-success" ng-show="main.noteAdded" class="ng-hide"><strong>Dipset!</strong></div>
    <div class="page-header">drops</div>
    <div align="right"><button class="btn btn-primary" ng-click="main.download()" ng-show="main.notes.length > 0">grab drops</button></div>
    </br>
    <div class="well">
    <ul class="list-group" ng-repeat="note in main.notes | orderBy: 'date':true track by $id($index)">
        <li class="list-group-item">{{note.content}}<span class="badge right">{{note.date | date:'medium'}}</span>
        <a class="badge right" ng-click="main.delete(note)">Delete</a></li>
        </ul>
    </div>
    
    </div>
    
</body>
</html>