<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>drop&dip</title>
    <link rel="icon" href="/static/suitcase-fav.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <script type="text/javascript" src="/static/main.ctrl.js"></script>
    <script type="text/javascript" src="/static/services.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="app" ng-controller="MainController as main">
 <div class="container">
    <h1><img src="/static/suitcase.png" height="60px" widith="60px"></img>
    //main.title//</h1>
    <form name="main.addForm" class="form" ng-submit="main.addNote()">
        <div class="form-group">
            <label><span class="fa fa-plus" aria-hidden="true"></span> Note:</label>
            <input  rows="3" type="text" class="form-control" ng-model="main.newNote.content" required placeholder="drop and hit enter..." />
        </div>
    </form>
    <div class="alert alert-success" ng-show="main.noteAdded" class="ng-hide"><strong>Dipset!</strong></div>
    <div class="page-header">
        <a class="fa fa-sign-in fa-lg" aria-hidden="true" ng-click="main.loginForm = !(main.loginForm)" ng-show="!(main.loggedIn)"></a>
        <a class="fa fa-sign-out fa-lg" ng-click="main.logout()" ng-show="main.loggedIn"></a>
        <a class="fa fa-download fa-lg" ng-click="main.download()" ng-show="main.notes.length > 0"></a>
        <a class="fa fa-cloud-download fa-lg" ng-click="main.getNotes()" aria-hidden="true" ng-show="main.loggedIn"></a>
        </div>
    <div class="panel" id="loginForm" ng-show="main.loginForm">
        <form method="POST" ng-submit="main.login()">
                <div class="input-group col-lg-6">
                  <input type="text" name="username" class="form-control" 
                  placeholder="username" aria-describedby="sizing-addon2" ng-model="main.loginFormData.username">
                </div>
        </form>
    </div>
    </br>
    <span class="label label-primary" ng-show="main.loggedIn" ng-bind="main.username"></span>
    <span class="label label-info" ng-show="main.loggedIn">Cloud Sync</span>
    <span class="label label-success">LocalStorage Sync</span>
    <div class="well">
        
    <div class="input-group" ng-show="main.notes.length > 0">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" ng-model="searchNote">
    </div>
    </br>
    
    <ul class="list-group" ng-repeat="note in main.notes | filter:searchNote | orderBy: 'date':true track by $id($index)">
        <li class="list-group-item" style="word-wrap: break-word">//note.content//
        <span class="badge right">//note.date | date:'medium'//</span>
        <a class="badge right" ng-click="main.delete(note)">
            <span class="fa fa-trash"></span></a>
            <a class="badge left" ng-show="note.cloud">
                <span class="fa fa-cloud"></span>
                </a>
        </li>
        </ul>
    </div>
    <hr>
    <div align="center">
    <a class="fa fa-github-square fa-2x" href="https://github.com/exp0nge"></a>
    </div>
    </div>
    
</body>
</html>